/* Estilos para productos */
#productos {
    width: 100%;
    /* padding: 20px; */
    margin-bottom: 10px;
    margin-top: 10px;
    /*  Agrega espacio debajo de los productos */
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .product-card {
    background-color: white;
    border-radius: 12px; 
    /* Material Design Border Radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); 
    /* Material Design Shadow */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    height: auto;
  }
  
  .product-card h3 {
    margin: 15px 0 10px;
    color: #ff453a; 
    /* Rojo del logo */
    font-size: 1.2rem;
  }
  
  .product-card p {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
  .product-card button {
    background-color: #ff9800;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #e68900;
    cursor: pointer;
  }